<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>
					<img class="avatar img-rounded" width="75px" height="75px" src="" alt="Logotipo">
					<span class="nome"></span>
				</h1>
				<p class="lead description"></p>
				<hr>
			</div>
		</div>
		<div id="repos" class="row">
			<div class="col-xs-12" id="carregando">
				<span>Loading...</span>
			</div>
		</div>
		<div class="row unstarredActions">
			<div class="col-xs-12">
				<small><a id="toggleUnstarred" href="#">
					<span id="action">Show</span> <span id="unstarredCount"></span> unstarred projects...
				</a></small>
			</div>
		</div>
		<footer class="row">
			<div class="col-xs-12">
				<hr>
				<p class="text-center text-muted">Gammasoft Desenvolvimento de Software Ltda &#8212; CNPJ: 19.950.366/0001-50</p>
			</div>
		</footer>
	</div>

	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/underscore.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

	<script id="repo" type="text/template">
		<div class="col-xs-12 col-sm-6 col-lg-3 <%= stargazers_count ? '' : 'unstarred' %>">
			<h3>
				<%= name %>
				<span class="badge">
					<%= stargazers_count %>&nbsp;
					<span class="glyphicon glyphicon-star"></span>
				</span>
			</h3>
			<p><%= description %></p>
			<small>
				<% if(language) { %>
					<%= language %>&nbsp;&#8212;&nbsp;	
				<% } %>
				<a target="_blank" href="<%= html_url %>">View on GitHub</a>
				<% if(homepage) { %>
					&nbsp;|&nbsp;
					<a target="_blank" href="<%= homepage %>">View Project's Web Site</a>
				<% } %>
			</small>
		</div>
	</script>

	<script type="text/javascript">

	var user = window.location.search.match(/user=([^&]+)/g),
	    repos = [],
	    stars = 0;

	user = (user && user[0].split('=')[1]) || 'gammasoft';

	function renderRepos() {
		var repoTemplate = _.template($('#repo').html());

		$('#carregando').hide();

		repos.sort(function(a, b) {
			return (a.stargazers_count - b.stargazers_count) * -1;
		}).forEach(function(repo) {
			stars += repo.stargazers_count;
			$('#repos').append(repoTemplate(repo));
		});
	}

	function cbRepos(github) {
		console.log(github);
		
		var next = github.meta.Link && github.meta.Link.reduce(function(next, link) {
			if(link[1] && link[1].rel === 'next') {
				next = link[0];
			}

			return next;
		}, null);

		repos = repos.concat(github.data);

		if(next) {
			return loadRepos(next);
		} else {
			renderRepos();
		}
	}

	function loadRepos(next) {
		var API_URL = 'http://api.github.com',
	        REPOS_URL = API_URL + '/users/' + user + '/repos';

		$.ajax({
			type: 'GET',
			url: next || REPOS_URL,
			crossDomain: true,
			jsonpCallback: 'cbRepos',
			dataType: 'jsonp'
		});
	}

	function cbUser(usuario) {
		usuario = usuario.data;
		$('img.avatar').attr('src', usuario.avatar_url + '&s=75');
		$('span.nome').html(usuario.name);
		$('p.description').html(usuario.bio || 'Open Source Projects');
		$('head title').html(usuario.name + ' - Open Source Projects');
	}

	function loadUser() {
		$.ajax({
			type: 'GET',
			url: 'https://api.github.com/users/' + user,
			crossDomain: true,
			jsonpCallback: 'cbUser',
			dataType: 'jsonp'
		});	
	}

	$(function() {
		loadUser();
		loadRepos();
	});
	</script>
</body>
</html>
