<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="icon" type="image/x-icon" href="https://github.com/favicon.ico">
</head>
<body>
	<div class="container">
		<div id="userData" class="row displayNone">
			<div class="col-xs-12">
				<h1>
					<img class="avatar img-rounded" width="75px" height="75px" src="" alt="Logotipo">
					<span class="nome"></span>
				</h1>
				<p class="lead description"></p>
				<hr>
			</div>
		</div>
		<div id="repos" class="row">
			<div class="col-xs-12" id="loading">
				<h4></h4>
			</div>
		</div>
		<div class="row unstarredActions displayNone">
			<div class="col-xs-12">
				<small><a id="toggleUnstarred" href="#">
					<span id="action">Show</span> <span id="unstarredCount"></span> unstarred repositories...
				</a></small>
			</div>
		</div>
		<footer class="row">
			<div class="col-xs-12">
				<hr>
				<p class="text-center text-muted">Gammasoft Desenvolvimento de Software Ltda &#8212; CNPJ: 19.950.366/0001-50</p>
			</div>
		</footer>
	</div>

	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/underscore.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

	<script id="repo" type="text/template">
		<div class="col-xs-12 col-sm-6 <%= stargazers_count ? '' : 'unstarred' %>">
			<h3>
				<%= name %>
				<span class="badge">
					<%= stargazers_count %>&nbsp;
					<span class="glyphicon glyphicon-star"></span>
				</span>
			</h3>
			<p><%= description %></p>
			<small>
				<% if(language) { %>
					<span style="color: <%= getgetLanguageColor(language) %>">
						<%= language %>
					</span>&nbsp;&#8212;&nbsp;	
				<% } %>
				<a target="_blank" href="<%= html_url %>">View on GitHub</a>
				<% if(homepage) { %>
					&nbsp;|&nbsp;
					<a target="_blank" href="<%= homepage %>">View Web Site</a>
				<% } %>
			</small>
		</div>
	</script>

	<script type="application/javascript">

	var user = window.location.search.match(/user=([^&]+)/g),
	    repos = [],
	    stars = 0;

	user = (user && user[0].split('=')[1]) || 'gammasoft';

	function renderRepos() {
		var repoTemplate = _.template($('#repo').html()),
		    unstarredRepos = 0;

		$('#loading').hide();

		repos.filter(function(repo) {
			if(repo.stargazers_count === 0) {
				unstarredRepos++;
			}
			return true;	
		}).sort(function(a, b) {
			return (a.stargazers_count - b.stargazers_count) * -1;
		}).forEach(function(repo) {
			stars += repo.stargazers_count;
			$('#repos').append(repoTemplate(repo));
		});
		
		if(unstarredRepos) {
			$('.unstarredActions #unstarredCount').html(unstarredRepos);
			$('.unstarredActions').show();
		}
	}

	function cbRepos(github) {
		if(github.meta.status !== 200) {
			if(github.meta['X-RateLimit-Remaining'] === '0') {
				var resetDate = new Date(github.meta['X-RateLimit-Reset'] * 1000);
				$('#repos #loading > h4').html('GitHub API limit reached... Come back after ' + resetDate);
				return;
			} else {
				$('#repos #loading > h4').html('Something went wrong!');
				console.log(github);
				return;
			}
			
			return $('#loading').hide();
		}
		
		var next = github.meta.Link && github.meta.Link.reduce(function(next, link) {
			if(link[1] && link[1].rel === 'next') {
				next = link[0];
			}

			return next;
		}, null);

		repos = repos.concat(github.data);

		if(next) {
			return loadRepos(next);
		} else {
			renderRepos();
		}
	}

	function loadRepos(next) {
		var API_URL = 'http://api.github.com',
	        REPOS_URL = API_URL + '/users/' + user + '/repos';

		$.ajax({
			type: 'GET',
			url: next || REPOS_URL,
			crossDomain: true,
			jsonpCallback: 'cbRepos',
			dataType: 'jsonp'
		});
	}

	function cbUser(github) {
		if(github.meta.status !== 200) {
			return;
		}
		
		var usuario = github.data;
		$('img.avatar').attr('src', usuario.avatar_url + '&s=75');
		$('span.nome').html(usuario.name);
		$('p.description').html(usuario.bio || 'Open Source Projects');
		$('head title').html(usuario.name + ' - Open Source Projects');
		$('#userData').show();
	}

	function loadUser() {
		$('#repos #loading > h4').html('Loading @' + user + ' repositories from GitHub...');
		
		$.ajax({
			type: 'GET',
			url: 'https://api.github.com/users/' + user,
			crossDomain: true,
			jsonpCallback: 'cbUser',
			dataType: 'jsonp'
		});	
	}

	$('a#toggleUnstarred').bind('click', function(e) {
		e.preventDefault();
		
		var $actionSpan = $('.unstarredActions span#action'),
		    show = $actionSpan.html() === 'Show';
		
		if(show) {
			$actionSpan.html('Hide');
		} else {
			$actionSpan.html('Show');
		}
		
		$('.unstarred').toggle(show);
	});

	$(function() {
		loadUser();
		loadRepos();
	});
	
	function getLanguageColor(language) {
		return {
		    "Arduino": "#bd79d1",
		    "Java": "#b07219",
		    "VHDL": "#543978",
		    "Scala": "#7dd3b0",
		    "Emacs Lisp": "#c065db",
		    "Delphi": "#b0ce4e",
		    "Ada": "#02f88c",
		    "VimL": "#199c4b",
		    "Perl": "#0298c3",
		    "Lua": "#fa1fa1",
		    "Rebol": "#358a5b",
		    "Verilog": "#848bf3",
		    "Factor": "#636746",
		    "Ioke": "#078193",
		    "R": "#198ce7",
		    "Erlang": "#949e0e",
		    "Nu": "#c9df40",
		    "AutoHotkey": "#6594b9",
		    "Clojure": "#db5855",
		    "Shell": "#5861ce",
		    "Assembly": "#a67219",
		    "Parrot": "#f3ca0a",
		    "C#": "#5a25a2",
		    "Turing": "#45f715",
		    "AppleScript": "#3581ba",
		    "Eiffel": "#946d57",
		    "Common Lisp": "#3fb68b",
		    "Dart": "#cccccc",
		    "SuperCollider": "#46390b",
		    "CoffeeScript": "#244776",
		    "XQuery": "#2700e2",
		    "Haskell": "#29b544",
		    "Racket": "#ae17ff",
		    "Elixir": "#6e4a7e",
		    "HaXe": "#346d51",
		    "Ruby": "#701516",
		    "Self": "#0579aa",
		    "Fantom": "#dbded5",
		    "Groovy": "#e69f56",
		    "C": "#555",
		    "JavaScript": "#f15501",
		    "D": "#fcd46d",
		    "ooc": "#b0b77e",
		    "C++": "#f34b7d",
		    "Dylan": "#3ebc27",
		    "Nimrod": "#37775b",
		    "Standard ML": "#dc566d",
		    "Objective-C": "#f15501",
		    "Nemerle": "#0d3c6e",
		    "Mirah": "#c7a938",
		    "Boo": "#d4bec1",
		    "Objective-J": "#ff0c5a",
		    "Rust": "#dea584",
		    "Prolog": "#74283c",
		    "Ecl": "#8a1267",
		    "Gosu": "#82937f",
		    "FORTRAN": "#4d41b1",
		    "ColdFusion": "#ed2cd6",
		    "OCaml": "#3be133",
		    "Fancy": "#7b9db4",
		    "Pure Data": "#f15501",
		    "Python": "#3581ba",
		    "Tcl": "#e4cc98",
		    "Arc": "#ca2afe",
		    "Puppet": "#cc5555",
		    "Io": "#a9188d",
		    "Max": "#ce279c",
		    "Go": "#8d04eb",
		    "ASP": "#6a40fd",
		    "Visual Basic": "#945db7",
		    "PHP": "#6e03c1",
		    "Scheme": "#1e4aec",
		    "Vala": "#3581ba",
		    "Smalltalk": "#596706",
		    "Matlab": "#bb92ac",
		    "C#": "#bb92af"
		}[language] || '';
	}
	</script>
</body>
</html>
