<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
	<link rel="icon" type="image/x-icon" href="https://github.com/favicon.ico">
</head>
<body>
	<div class="container">
		<div id="userData" class="row displayNone">
			<div class="col-xs-offset-3 col-xs-6">
				<div class="media">
					<a class="media-left" target="_blank" href="#">
						<img class="avatar img-rounded" crossOrigin="anonymous" width="64px" height="64px" alt="Avatar">
					</a>
					<div class="media-body">
						<h1 class="media-heading" style="margin-bottom: 0px;">
							<span class="nome"></span>
						</h1>
						<small id="details" class="text-muted"></small>
						<p class="description"></p>
						<span id="membersOrOrganizations"></span>
                        <small><a id="showMoreMembers" class="displayNone" href="#">Show more members...</a></small>
					</div>
				</div>
			</div>
		</div>
		<div id="repos" class="row">
			<div class="col-xs-offset-3 col-xs-6" id="loading">
				<h4></h4>
			</div>
		</div>
		<div class="row unstarredActions displayNone">
			<div class="col-xs-offset-3 col-xs-6">
				<small><a id="toggleUnstarred" href="#">
					<span id="action">Show</span> <span id="unstarredCount"></span> unstarred repositories...
				</a></small>
			</div>
		</div>
	</div>
	<div class="modal fade" id="readmeModal" tabindex="-1" role="dialog" aria-labelledby="readmeModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-lg">
	        <div class="modal-content">
	            <div class="modal-body">
	                <p id="loadingReadme">Loading README.md contents...</p>
	                <div id="readmeContent"></div>
	            </div>

	            <div class="modal-footer">
	                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
	            </div>
	        </div>
	    </div>
	</div>

	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/underscore.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/marked.min.js"></script>
	<script type="text/javascript" src="/static/js/base64.js"></script>
    <script type="text/javascript" src="/static/js/color-thief.js"></script>
	<script type="text/javascript" src="/static/js/highcharts.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>

	<script id="repo" type="text/template">
		<div class="col-xs-offset-3 col-xs-6 repo <%= stargazers_count ? '' : 'unstarred' %>">
			<h3>
				<span class="repoName"><%= name %></span>
				<span class="badge">
					<%= stargazers_count %>&nbsp;
					<span class="glyphicon glyphicon-star"></span>
				</span>
				<span class="badge">
					<%= forks %>&nbsp;
					<span class="glyphicon glyphicon-retweet"></span>
				</span>
				<span class="badge">
					<%= open_issues %>&nbsp;
					<span class="glyphicon glyphicon-flag"></span>
				</span>
				<% if(fork) { %>
				<span class="badge">
					<span class="glyphicon glyphicon-cutlery"></span>
				</span>
				<% } %>
			</h3>
			<p class="repoDescription"><%= description %></p>
			<small>
				<% if(language) { %>
					<span style="color: <%= getLanguageColor(language) %>">
						<%= language %>
					</span>&nbsp;&#8212;&nbsp;
				<% } %>
				<a target="_blank" href="#" class="viewReadme" data-url="<%= full_name %>/readme">README.md</a>
				&nbsp;|&nbsp;
				<a target="_blank" href="<%= html_url %>">View on GitHub</a>
				<% if(homepage) { %>
					&nbsp;|&nbsp;
					<a target="_blank" href="<%= homepage %>">View Web Site</a>
				<% } %>
                &nbsp;|&nbsp;
                <a class="statistics" data-url="/repos/<%= full_name %>/stats/participation" href="#">Statistics</a>
			</small>
            <div class="statisticsChart displayNone">
                <h4>Please wait...</h4>
            </div>
		</div>
	</script>

	<script type="application/javascript">

	var API_URL = 'http://api.github.com',
        user = window.location.search.match(/user=([^&]+)/g),
	    access_token = window.location.search.match(/access_token=([^&]+)/g),
	    repos = [],
	    allReposLoaded = false,
	    user,
	    stars = 0,
	    forks = 0,
	    issues = 0,
	    awesomeness = 0,
	    secondaryColor = null,
	    dominantColor = null,
        nextMembers = null;

    function endsWith(str, suffix) {
        return str.indexOf(suffix, str.length - suffix.length) !== -1;
    }

    user = (user && user[0].split('=')[1]) || 'gammasoft';
    user = user.replace('/', '');

    access_token = (access_token && access_token[0].split('=')[1]) || null;
    if(access_token && endsWith(access_token, '/')) {
        access_token = access_token.substring(0, access_token.length - 1);
    }

    function lighten(l, r, g, b) {
        var tmpR = r,
        	tmpG = g,
        	tmpB = b;

        tmpR = (255 - r) * l + r;
        tmpG = (255 - g) * l + g;
        tmpB = (255 - b) * l + b;

        if(tmpR > 255 || tmpG > 255 || tmpB > 255) {
            return [r, g, b];
        } else {
            return [
                parseInt(tmpR, 10),
                parseInt(tmpG, 10),
                parseInt(tmpB, 10)
            ];
        }
    }

    function calculateAwesomeness() {
        if(!user || !allReposLoaded) {
            return;
        }

        awesomeness = stars + (1.5 * (user.followers || 0)) + (2 * forks) - (0.1 * issues);
        awesomeness = awesomeness.toFixed(0);

        $('small#awesomeness').remove();
        var $awesomeness = $('<small id="awesomeness" />');
        $awesomeness.html(awesomeness);

        $('.media-heading').append($awesomeness);
    }

    function isTooLight(rgb) {
        return (rgb[0] + rgb[1] + rgb[2]) > 650;
    }

    function applyColors() {
        if(dominantColor) {
            if(isTooLight(dominantColor)) {
                dominantColor = [0, 0, 0];
            }

            $('h1 > span, h3 .repoName').css('color', 'rgb(' + dominantColor.join(',') + ')');

            var lightColor = lighten(0.95, dominantColor[0], dominantColor[1], dominantColor[2]),
                hoverColor = lighten(0.85, dominantColor[0], dominantColor[1], dominantColor[2]);

            $('body').css('background-color', 'rgb(' + lightColor.join(',') + ')');
            $(".repo").hover(function () {
                $(this).css('background-color', 'rgb(' + hoverColor.join(',') + ')');
            }, function () {
                $(this).css('background-color', '');
            });
        }
    }

	function renderRepos() {
		var repoTemplate = _.template($('#repo').html()),
		    unstarredRepos = 0;

		$('#loading').hide();

		repos.filter(function(repo) {
			if(repo.stargazers_count === 0) {
				unstarredRepos++;
			}
			return true;
		}).sort(function(a, b) {
			return (a.stargazers_count - b.stargazers_count) * -1;
		}).forEach(function(repo) {
			stars += repo.stargazers_count;
			forks += repo.forks;
			issues += repo.open_issues;

			$('#repos').append(repoTemplate(repo));
		});

        allReposLoaded = true;
        calculateAwesomeness();

        var details = [
            stars + ' stars',
            forks + ' forks',
            issues + ' open issues',
            repos.length + ' repos'
        ];

        if(user.type === 'User') {
            details.push(user.followers + ' followers');
        }

        $('small#details').html(details.join(' - '));

		applyBottomBorder();

		if(unstarredRepos) {
			$('.unstarredActions #unstarredCount').html(unstarredRepos);
			$('.unstarredActions').show();
		}

        applyColors();
	}

	function cbRepos(github) {
		if(github.meta.status !== 200) {
			if(github.meta['X-RateLimit-Remaining'] === '0') {
				var resetDate = new Date(github.meta['X-RateLimit-Reset'] * 1000);
                if(typeof github.meta['X-RateLimit-Reset'] === 'undefined' || !github.meta['X-RateLimit-Reset']) {
                    resetDate = 'a while';
                }

				$('#repos #loading > h4').html([
                    'GitHub API limit reached... <br /><small class="text-muted">Come back after ' + resetDate + '</small>',
                    '<br /><br />',
                    '<small>...or</small><br /><br />',
                    '<a href="https://github.com/login/oauth/authorize?client_id=3dfde5917589cb780d3c">',
                    '<img src="/static/img/sign-in-with-github.png" width="248px" height="52px" alt="Sign in with GitHub" />',
                    '</a>'
                ].join(''));

				var $img = $('<img />');
				$img.attr('height', '230px');
				$('#repos #loading > h4').parent().css('border', '0').addClass('text-center').prepend($img);
				$img.attr('src', 'http://random-octocat.herokuapp.com/');

				return;
			} else {
                if(github.meta.status === 404) {
                    return;
                }

                $('#repos #loading > h4').html('Something went wrong!');
				return;
			}

			return $('#loading').hide();
		}

		var next = github.meta.Link && github.meta.Link.reduce(function(next, link) {
			if(link[1] && link[1].rel === 'next') {
				next = link[0];
			}

			return next;
		}, null);

		repos = repos.concat(github.data);

		if(next) {
			return loadRepos(next);
		} else {
			renderRepos();
		}
	}

    function loadStatistics(url, $div) {
        $div.show();

        var get = $.ajax({
            type: 'GET',
            url: API_URL + url,
            crossDomain: true,
            jsonpCallback: 'renderStatistics',
            dataType: 'jsonp'
        });

        get.done(function(github) {
            if([200, 202].indexOf(github.meta.status) === -1) {
                $div.html('<h4>An error occurred while loading statistics data...</h4>');
                return;
            }

            if(github.meta.status === 202) {
                setTimeout(function() {
                    loadStatistics(url, $div);
                }, 2000);

                return;
            }

            var data = github.data,
                ownerCommits = data.owner,
                allCommits = data.all,
                commitsCount = 0,
                index = 0,
                contributorsCommits = allCommits.map(function(numberOfCommits) {
                    commitsCount += numberOfCommits;
                    return numberOfCommits - ownerCommits[index++];
                });

            $div.highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Weekly commits over the last year'
                },
                subtitle: {
                    text: 'Total of ' + commitsCount + ' commits'
                },
                yAxis: {
                    min: 0,
                    tickInterval: 1,
                    title: {
                        text: null
                    }
                },
                xAxis: {
                    labels: {
                        enabled: false
                    }
                },
                // tooltip: {
                //     formatter: function () {
                //         return '<b>' + this.x + '</b><br/>' +
                //             this.series.name + ': ' + this.y + '<br/>' +
                //             'Total: ' + this.point.stackTotal;
                //     }
                // },
                plotOptions: {
                    column: {
                        stacking: 'normal'
                    }
                },
                series: [{
                    name: user.name || ('@' + user.login),
                    data: ownerCommits
                }, {
                    name: 'Contributors',
                    data: contributorsCommits
                }]
            });
        });
    }

	function loadRepos(next) {
		var API_URL = 'http://api.github.com',
	        REPOS_URL = API_URL + '/users/' + user + '/repos';

		$.ajax({
			type: 'GET',
			url: next || REPOS_URL,
			crossDomain: true,
			jsonpCallback: 'cbRepos',
			dataType: 'jsonp'
		});
	}

	function cbMembers(github) {
		if(github.meta.status !== 200) {
			return;
		}

		github.data.forEach(function(member) {
			var $img = $('<img class="member" />'),
			    $a = $('<a />'),
			    description = member.description ? ' - ' + member.description : '';

			$a.attr('href', '/?user=' + member.login + (access_token ? '&access_token=' + access_token : ''));
			$img.attr('src', member.avatar_url + '&s=30');
			$img.attr('title', '@' + member.login + description);
			$img.addClass('img-rounded');
			$img.tooltip();
			$a.append($img);

			$('#membersOrOrganizations').append($a);
		});

		var next = github.meta.Link && github.meta.Link.reduce(function(next, link) {
			if(link[1] && link[1].rel === 'next') {
				next = link[0];
			}

			return next;
		}, null);

		if(next) {
            nextMembers = next;
            $('#showMoreMembers').show();
		} else {
            $('#showMoreMembers').hide();
        }
	}

	function loadOrganizationMembers(url) {
		$.ajax({
			type: 'GET',
			url: url,
			crossDomain: true,
			jsonpCallback: 'cbMembers',
			dataType: 'jsonp'
		});
	}

	function cbUser(github) {
		if(github.meta.status !== 200) {
            if(github.meta.status === 404) {
                $('#repos #loading > h4').html('@' + user + ' is not on GitHub yet!');
                return;
            }

			return;
		}

		var usuario = github.data;
		$('img.avatar').attr('src', usuario.avatar_url + '&s=64');
		$('img.avatar').load(function() {
			var ct = new ColorThief(),
			    pallete = ct.getPalette($('.avatar').get(0), 2);

			dominantColor = pallete[0];
			secondaryColor = pallete[1];

			applyColors();
		});
		$('.nome').html(usuario.name || usuario.login);
		$('.description').html(usuario.bio || '');
		$('head title').html((usuario.name || usuario.login) + ' - GitHub Summary');
		$('#userData .media > a').attr('href', usuario.html_url);
		$('#userData').show();
		$('#loading').addClass('bordersExceptOnTop');
		user = usuario;

        calculateAwesomeness();

		if(user.type === 'Organization') {
			loadOrganizationMembers('https://api.github.com/orgs/' + user.login + '/members');
		} else {
			loadOrganizationMembers('https://api.github.com/users/' + user.login + '/orgs');
		}
	}

	var loadUserAttempts = 1;

	function loadUser() {
		$('#repos #loading > h4').html('Loading @' + user + ' repositories from GitHub...');

		var get = $.ajax({
			type: 'GET',
			url: 'https://api.github.com/users/' + user,
			crossDomain: true,
			jsonpCallback: 'cbUser',
			dataType: 'jsonp'
		});

		get.fail(function() {
			if(loadUserAttempts <= 3) {
				console && console.warn && console.warn('loadUserAttempt: ', loadUserAttempts);
				loadUserAttempts++;
				loadUser();
			}
		});
	}

	function applyBottomBorder() {
		$('.borderBottom').removeClass('borderBottom');
		var visibleRepos = $('.repo').not(':hidden').size();

		if(visibleRepos) {
			$('.repo').not(':hidden').last().addClass('borderBottom');
			$('#userData > div').css('padding-bottom', '');

            $('#userData > div').css('-moz-border-radius', '');
            $('#userData > div').css('-webkit-border-radius', '');
            $('#userData > div').css('border-radius', '');
		} else {
			$('#userData > div').addClass('borderBottom').css('padding-bottom', '20px');

            $('#userData > div').css('-moz-border-radius', '10px 10px 10px 10px');
            $('#userData > div').css('-webkit-border-radius', '10px 10px 10px 10px');
            $('#userData > div').css('border-radius', '10px 10px 10px 10px');
		}
	}

	$('a#toggleUnstarred').bind('click', function(e) {
		e.preventDefault();

		var $actionSpan = $('.unstarredActions span#action'),
		    show = $actionSpan.html() === 'Show';

		if(show) {
			$actionSpan.html('Hide');
		} else {
			$actionSpan.html('Show');
		}

		$('.unstarred').toggle(show);
		applyBottomBorder();
	});

	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if(access_token && settings.url.indexOf('api.github') > -1) {
	            var divider = this.url.indexOf('?') > -1 ? '&' : '?';
	            this.url += divider + 'access_token=' + access_token;
	        }
	    }
	});

	function cbReadme(github) {
		//Teste
		$modal = $('#readmeModal');

		if(github.meta.status !== 200) {
			var message = 'Something went wrong! :/';

			if(github.meta.status === 404) {
				message = 'This repo has no README.md file, sorry! :(';
			}

			$modal.find('#loadingReadme').hide();
			$modal.find('#readmeContent').html(message);
			$modal.find('#readmeContent').show();
			return;
		}

		var content = github.data.content;
		content = Base64.decode(content);
		content = marked(content);

		$modal.find('#loadingReadme').hide();
		$modal.find('#readmeContent').html(content);
		$modal.find('#readmeContent').show();
	}

	function loadReadme(url, cb) {
		var get = $.ajax({
			type: 'GET',
			url: 'https://api.github.com/repos/' + url,
			crossDomain: true,
			jsonpCallback: 'cbReadme',
			dataType: 'jsonp'
		});

        get.fail(function() {
            $modal = $('#readmeModal');
            $modal.find('#readmeContent').html('Something went wrong! :/');
        });
	}

	$(function() {
		marked.setOptions({
			highlight: function(code) {
				return hljs.highlightAuto(code).value;
		  	}
		});

		$('#repos').on('click', '.viewReadme', function(e) {
			e.preventDefault();

			var $target = $(e.target),
			    $modal = $('#readmeModal');

			$modal.find('#loadingReadme').show();
			$modal.find('#readmeContent').hide();
			$modal.modal('show');

			loadReadme($target.data('url'));
		});

        $('#repos').on('click', '.statistics', function(e) {
            e.preventDefault();

            var $target = $(e.target),
                $repo = $target.parents('.repo'),
                $chart = $repo.find('.statisticsChart');

            if($target.html() === 'Statistics') {
                $target.html('Hide Statistics');
                loadStatistics($target.data('url'), $chart);
            } else {
                $target.html('Statistics');
                $chart.hide();
            }
        });

        $('#showMoreMembers').bind('click', function(e) {
            e.preventDefault();

            if(!nextMembers) {
                return;
            }

            loadOrganizationMembers(nextMembers);
        });

		loadUser();
		loadRepos();
	});

	function getLanguageColor(language) {
		return {
		    //pegar cores atualizadas
		}[language] || '';
	}
	</script>
</body>
</html>
