.unstarred, .displayNone {
  display: none;
}

#loading, .unstarredActions {
  padding-top: 20px;
}

.bordersExceptOnTop {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#userData {
  margin-top: 20px;
}

#userData > div {
  padding-top: 20px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.repo {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-bottom: 20px;
}

.repo:hover {
  background-color: #f7f7f7;
}

.borderBottom {
  border-bottom: 1px solid black;
}
