.unstarred, .displayNone {
  display: none;
}

#loading, .unstarredActions {
  margin-top: 20px;
}

#userData {
  margin-top: 20px;
}

#userData > div {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.repo {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
